@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans';
	text-align: center !important;
}

/*
body {
	background-image: url('http://vignette3.wikia.nocookie.net/hexrblx/images/5/50/Wiki-background/revision/latest?cb=20150222044922');
}

#home h1 {
	color: #ccf8b6;
	font-size: 75px;
	font-weight: bold;
	vertical-align: bottom;
	height: 100px;
	background-color: rgba(48, 48, 48, 0.92);
	margin-top: 0;
	padding: 5px;
}

#home a {
	font-size: 25px;
	margin-top: 20%;
	padding: 20px 100px;
}
*/

.navbar {
	margin-bottom: 0em;
}

.jumbotron {
	margin-top: 0em;
	margin-bottom: 0em;
}

#groups .btn {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}

.modal .btn {
	color: white !important;
}

body.modal-open #wrapper {
	display: inline !important;
}