@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans';
	text-align: center !important;
}

/*
body {
	background-image: url('http://vignette3.wikia.nocookie.net/hexrblx/images/5/50/Wiki-background/revision/latest?cb=20150222044922');
}

#home h1 {
	color: #ccf8b6;
	font-size: 75px;
	font-weight: bold;
	vertical-align: bottom;
	height: 100px;
	background-color: rgba(48, 48, 48, 0.92);
	margin-top: 0;
	padding: 5px;
}

#home a {
	font-size: 25px;
	margin-top: 20%;
	padding: 20px 100px;
}
*/

.navbar {
	margin-bottom: 0em;
}

.jumbotron {
	margin-top: 0em;
	margin-bottom: 0em;
}

.backButton {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 30px;
	color: white !important;
}

#menu .backButton {
	float: none;
}

.groupsButton {
	color: white !important;
}

#groups {
	width: 70%;
}

#groups .btn {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
	padding: 10px;
	width: 100%;
}

#addButton {
	border-width: 2px;
}

#map {
	width: 80%;
	height: 800px;
	overflow: visible;
}

#menu, #notifications {
	position: fixed;
	z-index: 5;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.modal .btn {
	color: white !important;
}

body.modal-open #wrapper {
	display: inline !important;
}


